body{
    background: #96EDB9;
}
.wrapper{
    text-align: center;
    font-size: medium;
}
#tabTitle{
    color: rgb(117, 59, 59);
    padding-right: 10px;
}
#changeButton{
    width: 200px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background: #47EDC2;
    cursor: pointer;
}